<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            History
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-icon name="library-outline" style="font-size: 48px; margin-left: 60px;"></ion-icon>
            <ion-title size="large" style="text-align: center;">History</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item button onclick="showDetail()">
                    <ion-icon slot="start" name="newspaper" style="color: green;"></ion-icon>
                    <ion-label>
                        <h3>20/07/2020</h3>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item button onclick="showDetail()">
                    <ion-icon slot="start" name="newspaper" style="color: green;"></ion-icon>
                    <ion-label>
                        <h3>24/07/2020</h3>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item button onclick="showDetail()">
                    <ion-icon slot="start" name="newspaper" style="color: green;"></ion-icon>
                    <ion-label>
                        <h3>25/07/2020</h3>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item button onclick="showDetail()">
                    <ion-icon slot="start" name="newspaper" style="color: green;"></ion-icon>
                    <ion-label>
                        <h3>26/07/2020</h3>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item button onclick="showDetail()">
                    <ion-icon slot="start" name="newspaper" style="color: green;"></ion-icon>
                    <ion-label>
                        <h3>27/07/2020</h3>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item button onclick="showDetail()">
                    <ion-icon slot="start" name="newspaper" style="color: green;"></ion-icon>
                    <ion-label>
                        <h3>28/07/2020</h3>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item button onclick="showDetail()">
                    <ion-icon slot="start" name="newspaper" style="color: green;"></ion-icon>
                    <ion-label>
                        <h3>29/07/2020</h3>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>