<ion-content>
    <div style="height: 100%; background-color: #ffffff;">
        <div style="display: flex; justify-content: center; height: 55%; align-items: flex-end;">
            <div class="container">
                <div><img src="../../assets/img/logo.jpeg" alt="logo" width="370px"></div>
            </div>
        </div>
        <div style="display: flex; height: 42%; align-items: flex-end;">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button expand="block" color="primary" (click)="login()">

                            iniciar sesión
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="block" color="secondary" (click)="register()">
                            registrarse
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>